---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - page
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
renderData:
  title: "Posted in “{{ tag }}”"
  metaDescription: "All posts from the Blog tagged with “{{ tag }}”"
---

<div class="prose prose-sm sm:prose lg:prose-lg xl:prose-xl  pl-4 pr-4">

<h1>Posted in “{{ tag }}”</h1>

{% set postslist = collections[tag] %}
{# {% include "components/postslist.njk" %} #}

<nav>
  <a href="{{ '/blog/' | url }}">← Blog index</a>
</nav>
</div>
