<div class="prose prose-sm sm:prose lg:prose-lg xl:prose-xl  pl-4 pr-4">
<form name="contact" method="POST" netlify>
  <div class="mb-4">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" autocomplete="name" placeholder="Your name" title="Please enter your name" required>
  </div>
 <div class="mb-4"> 
  <label for="email">Email</label>
  <input type="email" name="email" id="email" autocomplete="email" placeholder="Your email address" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
  </div>
  <label class="flex-auto" for="message">Message</label>
  <div class="flex">
  
  <textarea class="flex-auto mb-4" name="message" id="message" placeholder="Write your message here" rows="7" required></textarea>
  </div>
  <button name="Send message" type="submit" class="bg-gray-100 p-2" name="submit">Send Message</button>
</form>
</div>
