<footer class="flex dark:text-gray-400 justify-center ml-8 mr-8 mt-24 mb-8 pt-6 border-t">
  <small>
  {%- if metadata.footer -%}
  {{metadata.footer}}
  {%- else -%}
  Made with ❤️️ in Minneapolis
  {% endif %}
  </small>
</footer>
