<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
  {% include "components/head.njk" %}
  <body class="min-h-screen bg-white">
   
   
   {% include "components/header.njk" %}


  <div class="flex">
    <nav id="navigation" class="hidden md:block h-screen dark:bg-gray-900 overflow-y-auto flex-none top-0 pt-32 sticky p-4 w-64 md:border-r dark:border-gray-800 z-9">
      <button  onclick="closeNavigation()" class="float-right justify-end block md:hidden p-2 -mr-2 ml-2">	<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"/></svg></button>
      <div class="clear-right">
        {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({anchorClass: "item",activeAnchorClass: "active",activeListItemClass: "active",activeKey: eleventyNavigation.key, listClass: "nav", listItemClass: "item"}) | safe }}
      </div>
    </nav>
    <div class="w-full mt-8 md:mt-20 dark:bg-gray-800 dark:text-gray-50">
      <main>
            {{ layoutContent | safe }}       
      </main>
      {% include "components/footer.njk" %}
    </div>
  </div>   
    <script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
  </body>
</html>


{# See: https://instant.page/ #}