---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---
<div class="prose prose-sm sm:prose lg:prose-lg xl:prose-xl  pl-4 pr-4">
    <h1>{{ title }}</h1>
    <div class="adjust">
    {{ layoutContent | safe }}
    {% set postslist = collections.post %}
    {% include "components/postslist.njk" %}
    </div>
</div>

