---
layout: layouts/base.njk
section: contact
---
<div class="prose prose-sm sm:prose lg:prose-lg xl:prose-xl  pl-4 pr-4">
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% include "components/contact.njk" %}
</div>